*.o
*.o
testes/aulaFama/ME/xpto
*.o
testes/aulaFama/ME/#testeout.txt
*.depend
testes/aulaFama/ME/Adab.layout
testes/aulaFama/ME/xpto
*.o
*.exe
testes/aulaFama/ME/Adab.layout
*.o
testes/aulaFama/ME/#testeout.txt
*.exe